DB_URL=
ERROR_LOG_URL= 
PORT= 
FRONTEND_ORIGIN_URL= 
NODE_ENV= 

REFRESH_TOKEN_SECRETE= 
TOKEN_SECRETE= 
  
CLOUDINARY_NAME= 
CLOUDINARY_API_KEY= 
CLOUDINARY_API_SECRET= 
UPLOAD_PRESET= 
UPLOAD_FOLDER= 

MAIL_USER= 
MAIL_PASS= 
PAYSTACK_CALL_BACK_URL=
FLUTTER_CALL_BACK_URL=  
BOOKING_ID_ABB=   

PAYSTACK_SECRET_KEY= 
PAYSTACK_PUBLIC_KEY= 
PAYSTACK_CALL_BACK_URL=

#Public Key
FLUWPUB_K=
#Secret Key
FLWSEC_K=
#Encryption Key
FLWSECK_ENC=
FLW_SECRET_HASH=

GOOGLE_MAPS_API_KEY = 
GMAPS_BASE_URL= 
GMAPS_DISTANCE_MATRIX_URL= 